#config-overlay{
  text-align: center;
}

#config-overlay h2{
  margin: 0.5rem 0;
}

.form-control{
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.form-control label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control input{
  font: inherit;
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.form-control input:focus{
  outline-color: #0077cc;
}

.error input{
  border-color: darkred;
  color: rgb(131, 13, 0);
  background-color:antiquewhite;
}

.error label{
  color: rgb(131, 13, 0);
}

#game-config{
  width: 90%;
  max-width: 40%;
  margin: 3rem auto;
  text-align: center;
}

#game-config ol{
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
}

#game-config li{
  width: 50%;
  margin:1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#game-config h2{
  margin: 0.5rem 0;
  font-size: 1rem;
}

#game-config h3{
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #0077cc;
}

.player-symbol{
  font-size: 2rem;
  font-weight: bold;
  color: #0077cc;
  margin: 0.5rem 0;
}